<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Home</title>
</head>

<body>
  <nav>
    <img src="logo.png" alt="logo" />
    <div>
      <ul>
        <li>Home</li>
        <li>About</li>
        <li>Contact us</li>
      </ul>
    </div>
  </nav>
  <main>
    <div>
      {{> header}}
      <h1>Something Big is about to happen!</h1>
      <p>{{body}}</p>
    </div>

    {{> footer}}
  </main>
</body>

</html>