<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Home</title>
</head>

<body>
  <nav>
    <img src="logo.png" alt="logo" />
    <div>
      <ul>
        <li>Home</li>
        <li>About</li>
      </ul>
    </div>
  </nav>
  <main>
    <h1>Sorry, we're in Maintenance mode!</h1>
    <p>...we'd be back soon, we promise</p>
  </main>
</body>

</html>